* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
header {
  /* border: 1px solid blue; */
  background-color: #430074;
  height: 100px;
  display: flex;
}
.header {
  /* border: 2px solid pink; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.header .logo {
  /* float: left; */
}
.header .header-right {
  /* border: 1px solid white; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
header .sign a {
  display: inline-block;
  text-decoration: none;
  font: 1rem Tahoma;
  color: #fff;
  margin-right: 20px;
}

header .signInIcon a {
  /* border: 1px solid yellow; */
  display: inline-block;
  width: 35px;
  height: 35px;
  color: #fff;
  content: url("https://api.iconify.design/ph/user-bold.svg?color=white");
}

/*以下不需要了 */
header .signInIcon a img {
  /* border: 1px solid red; */
  display: inline-block;
  width: 50px;
  height: 50px;
  content: url("https://api.iconify.design/ph/user-bold.svg?color=white");
  /* I want to change the icon color to white */
}

/* ======================Breadcrumb========================= */
.breadcrumb {
  /* border: 1px solid black; */
  display: inline-block;
  background-color: #5d00d5;
  width: 100%;
  height: 25px;
  padding: 2px 2px 2px 10px;
}

.breadcrumb ol {
  /* border: 1px solid grey; */
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.breadcrumb ol > li::before {
  content: "|";
  margin: 0 5px;
  font: 1rem Tahoma;
  color: #fff;
}

.breadcrumb ol > li:first-child:before {
  display: none;
}

.breadcrumb ol li > a {
  text-decoration: none;
  color: #fff;
  font: 1rem Tahoma;
}
/* =============================carousell======================= */

/* ==============================combo menu======================= */
main {
  background-color: #fff;
}
.food-container {
  display: flex;
  flex-wrap: wrap;

  padding: 50px;
}

.food-container img {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  justify-content: space-between;
  border-radius: 32px;

  /* flex: 1; */
}
.set-1 {
  flex: 0 0 calc(25% - 10px);
  margin-right: 10px;
  margin-bottom: 20px;
}
.set-1:last-child {
  margin-right: 0;
}

/* ==============================Footer======================= */
footer p {
  /* border: 1px solid pink; */
  font: 1rem Tahoma;
  background-color: #430074;
  color: white;
  height: 100px;
  text-align: center;
  margin: 0;
  justify-content: center;
  display: flex;
  align-items: center;
}
