*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
header{
    /* border: 1px solid blue; */
    background-color: #430074;
    height: 100px;
    display: flex;

}
.header {
    /* border: 2px solid pink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.header .logo{
    /* float: left; */
}
.header .header-right{
 /* border: 1px solid white; */
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: end;
}
header .sign a{
    display: inline-block;
    text-decoration: none;
    font: 1rem Tahoma;
    color: #fff;
    margin-right: 20px;
    
}

header .signInIcon a{
    /* border: 1px solid yellow; */
    display: inline-block;
    /* width: 100px;
    height: 100px; */
    color: #fff;
}

header .signInIcon a img{
    /* border: 1px solid red; */
    display: inline-block;
    width: 50px;
    height: 50px;
    color: #fff;
    /* I want to change the icon color to white */

}


/* add side bar */


.signInIcon {
    position: relative;
}

.signInIcon .sidebar {
    position: absolute;
    top: 80px;
    right: -220px; /* Initially hide the sidebar outside the viewport */
    width: 200px;
    height: 530px;
    background-color: rgba(67, 66, 69, 0.5);
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2); /* Add shadow to the sidebar */
    transition: right 0.3s ease-in-out; /* Smooth transition for the sidebar */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.signInIcon:hover .sidebar {
    right: 0; /* Show the sidebar on hover */
}

.signInIcon .sidebar a {
    text-decoration: none;
    color: white;
    font: 20px Tahoma;
    padding: 10px;
    display: block;
    line-height: 40px;
}




/* main */
main{
    display: flex;
    background-image: url(./images/movie\ theater.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 530px;
    justify-content: center;
    font: bold;
    
}

main > div{
    width:130px;
    height: 130px;
    border-radius: 50%;
    padding: 35px 0;
    text-align: center;
    background-color: #5D00D5;
    font:1.5rem Tahoma;
    color: #fff ;
    margin: 10px;
    transition: width: 1s, height: 1s;
    letter-spacing: 2px;
    margin-top: 55px;
}
main.movie{
    padding: 50px 0;
}

main > div:hover{
    background-color: #F3B743;
    box-shadow: 0 0 30px rgba(243, 183, 67, 0.5);
    width:150px;
    height: 150px;
    font: bold 1.6rem Tahoma;
    cursor: pointer;
    /* color:#5D00D5; */
    
}

main div > a{
    text-decoration: none;
    font:1.5rem Tahoma;
    color: #fff ;
}
footer p{
    /* border: 1px solid pink; */
    background-color: #430074;
    font: 1rem Tahoma;
    color: white;
    height: 100px;
    text-align: center;
    margin:0;
    justify-content:  center;
    display: flex;
    align-items: center;
}